 .u-section-1 {
  background-image: linear-gradient(#18d6e8, white);
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-btn-1 {
  font-size: 4.5rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 247px auto 60px;
}
